.Top {

    padding: 5px;
    margin-bottom: 20px;
}
.Input {
    border: none;
    padding: 5px;
    text-align: center;   
    background-color: #ffffff; 
    color: #2f2f2f;
    outline: none;
    width: 80%;
}
.Input:placeholder-shown {
    background-color: rgb(235, 235, 235);
}
.Add {
    background-color: rgb(235, 235, 235);
    color: #2f2f2f;
    border-radius: 10px;
    padding: 5px;
    width: 15%;
    float: right;
}
.Add:hover {
    background-color: rgb(255, 255, 255);
}